.projectWrapper-head{
    font-size: 1.125rem;
    width: 65%;
    min-width: 20.625rem;
    margin: auto;
}
.projectForm{
    width: 65%;
    min-width: 20.625rem;
    margin: 1.5rem auto 0 auto;
}
.projectWrapper{
    flex: 8;
    height: fit-content;
    margin-top: 5rem;
}
.resultMessage{
    text-align: center;
    margin: 3rem;
}