.sidebar{
    background-color: #484848;
    color: white;
    flex: 2;
    padding: 1.5rem;
    max-width: 20rem;
}
.sidebarHead{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1020px){
    .sidebar{
        flex: 2.5;
    }
}

@media (max-width: 700px){
    .sidebar{
        display: none;
    }
}